$color-primario: rgb(210, 141, 30);
$color-secundario: #6B6;
$color-texto: #666;
$color-contenido-lg:red;
$color-contenido-xs:rgb(72, 221, 255);
$color-contenido-sm:yellow;
$color-contenido-md:green;
$color-contenido-head:rgb(21, 238, 246);
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;
$largo:50px
