// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";
@import "../libs/bootstrap/scss/bootstrap";
// Then add additional custom code here
/*En esta hoja de estilos se le da un color,un borde,una margen, un ancho de los elemenetos nombrados, se hacen flotar algunos elementos 
 y se alinea el texto
Se importa la libreria de bootstrap scss*/

#cua1 {
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    float: right;
    border: 2px solid black;
}
#cua2 {
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    float: right;
    border: 2px solid black;
}

nav li {
    display: inline-block;
    margin: 0 50px;
}

#cua1 {
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    border: 2px solid black;
    
}
.imgpie{
    border: 4px solid white;
}